[Unit]
Description=coScene agent ROS2 Node
After=network.target

[Service]
Type=simple
User=unitree
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
Environment=CYCLONEDDS_URI=file:///home/unitree/unitree_ros2/cyclonedds_ws/src/cyclonedds.xml
ExecStart=/bin/bash -c '\
  source /opt/ros/foxy/setup.bash && \
  source /home/unitree/unitree_ros2/cyclonedds_ws/install/setup.bash && \
  source /home/unitree/cos_ws/install/setup.bash && \
  exec ros2 launch agent agent.launch.py'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
